/* html {
    font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 15%;
  
  
} */

nav {display: flex;
  background-color: aqua;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */

}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%; 
  
}

ul {display: flex;
  justify-content: space-between;
  background-color: aqua;
  text-decoration-line: underline;
  /* border: 1px solid red; */
  width: 60%;
  
  
}



/* words in banner */
article {
  display: flex;
  color: rgb(0, 60, 255);
  padding: 2%;
  justify-content: flex-end;
  border: 1px solid red;
  b
}
div {
  
}

li {
  display: flex;
  /* justify-content: space-around; */
  padding: 2%;


}
h1 {display: inline;
  justify-content: center;
  text-align: right;

}
p{
  padding: 20px;
}

.hero-image-box {
    /* sets height for full screen size of all devices */
    width: 100%;
    background-image: url("../images/banner.jpg");
    border: 1px solid orange;
    height: 100px;
    display: flex;
    /* up and down  */
    align-content: flex-end;
    /* left and right  */
    /* align-items: start; */
    height: 80%;
    width: auto;
    width: 100%;
    border: 1px solid orange;
    height: 100px;
    justify-content: flex-end;

    
}


.hero-image {
    width: auto;
    height: 100%;
    
}

.hero-text-box {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    
}

.hero-heading {

    /* display: flex; */
    font-size: 2rem;
    letter-spacing: .05rem;
    /* font-weight: bold; */
    color: blue;
    background-color: greenyellow;
    /* flex-wrap: wrap; */
    height: 33%;
    margin-top: auto;
}





/* desktop */
/* @media screen and (max-width: 992px) {
  .card {
    width: 50%;
  } */

  /* mobile */
  /* @media screen and (max-width: 768px) {
  .card {
    width: 100%; */